<div class="container">
    <% @kids.each do |kid| %>
      <div class="cards-kid">
       <div class="img-kid"><%= kid.photo %></div>
        <div class="cards-product-infos">
          <h2 class="name-kid"><%= kid.name %></h2>
          <p><u>Age category:</u>  <b><%= kid.age_category %></b></p>
          <p><u>Personality:</u>   <b><%= kid.personality %></b></p>
        </div>
         <div class="card-product-details">
          <p><span><%= kid.price %></span>€</p>
         <%= link_to "more details", kid_path(kid), class: "button-small" %>
        </div>
      </div>
    <% end%>
</div>

