<div class="wrapper">
  <div class="product-img">
    <img src="https://images.pexels.com/photos/1068205/pexels-photo-1068205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1><%= @kid.name %></h1>
      <h2><%= @kid.personality %> | <%= @kid.age_category %></h2>
      <p><%= @kid.description %></p>
    </div>
    <div class="product-price">
      <p><span><%= @kid.price %></span>€ /day</p>
      <div class="btn">Book now</div>
    </div>
    <div class="back-link">
      <a><%= link_to '< Back to Kids list', kids_path %></a>
    </div>
  </div>
</div>
