<div class="wrapper">
  <div class="product-img" style="background-image: url('<%= cl_image_path @kid.photo, height: 300, width: 400, crop: :fill, gravity: :face %>')">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1><%= @kid.name %></h1>
      <h2><%= @kid.personality %> | <%= @kid.age_category %></h2>
      <p><%= @kid.description %></p>
    </div>

    <div class="product-price">
      <p><span><%= @kid.price %></span>€ /day</p>
      <%= link_to new_kid_booking_path(@kid), style:"color:white;" do%>
      <div class="btn"> Book a kid</div>
      <% end %>
    </div>
    <div class="back-link">
      <a><%= link_to '< Back to Kids list', kids_path %></a>

    </div>
  </div>
</div>
