<div class="wrapper">
  <div class="product-img">
    <img src="https://images.pexels.com/photos/1068205/pexels-photo-1068205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1><%= @kid.name %></h1>
      <h2><%= @kid.age_category %> <%= @kid.personality %></h2>
      <p><%= @kid.description %></p>
    </div>
    <div class="product-btn">
      <p><span><%= @kid.price %></span>€</p>
      <button type="button"><%= link_to "Book a kid", new_kid_booking_path(@kid), style:"color:white;"%></button>
    </div>
  </div>
</div>
