<div class="container-booking">
  <h5>You are booking <%= @kid.name %></h5><br>
  <div class="card-booking-summerize">
    <div class="card-booking-kid">
      <div class="img-kid" style="background-image: url('<%= cl_image_path @kid.photo, height: 300, width: 400, crop: :fill, gravity: :face %>')">
        </div>
        <div class="card-booking-summerize-description">
          <p>Name: <strong><%= @kid.name %></strong></p>
          <p>Age category: <strong><%= @kid.age_category%></strong></p>
          <p>personality: <strong><%= @kid.personality %></strong></p>
          <p>Description:<br> <%= @kid.description %></p>
        </div>
    </div>

    
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <%= simple_form_for [@kid, @booking] do |f| %>
        <%= f.input :start_date, label: "Pick your dates", as: :string, required: false, input_html: {id: 'range_start'} %>
        <%= f.submit "Confirm reservation", class: "btn" %>
      <% end %>

    </div>

  </div>
</div>

