<div class="container-booking">
  <h5>You are booking <%= @kid.name %></h5><br>
  <div class="card-booking-summerize">
    <div class="card-booking-kid">
      <div class="img-kid">
        <%= cl_image_tag @kid.photo, height: 300, width: 300, crop: :fill, gravity: :face %>
      </div>
        <div class="card-booking-summerize-description">
          <p>Name: <strong><%= @kid.name %></strong></p>
          <p>Age category: <strong><%= @kid.age_category%></strong></p>
          <p>personality: <strong><%= @kid.personality %></strong></p>
          <p>Description:<br> <%= @kid.description %></p>
        </div>
    </div>

    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <p><strong><%= @kid.price %>€</strong>/day </p>
      <p> <%= simple_form_for [@kid, @booking] do |f| %> <br>
        <%= f.input :start_date, label: "Pick your dates", as: :string, required: false, input_html: {id: 'range_start'}, id:'booking-input' %>

        <div id="booking-total" class="hidden">
        <p> Price/day: <t><%= @kid.price %></t></p>
        </div>

        <%= f.submit "Confirm reservation", class: 'btn btn-booking' %>
      <% end %> <br>
    </div>

  </div>
</div>

